VITE_MAIN_ADMIN_EMAIL=admin@gmail.com
VITE_MAIN_ADMIN_USERNAME=admin
VITE_MAIN_ADMIN_PASSWORD=change-this-password
VITE_MAIN_ADMIN_COMPANY=vel
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_PRIVATE_KEY=
